html, body {
    height: 100%;
}

/* left hand side of the screen */
#leftside {
    height: 100%;
    background: #5B7A9B;
}

/* title on the left side */
#app_title {
    position: absolute;
    top: 40%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}

/* form elements */
form {
    position: relative;
    top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 200%;
}

input[type="text"], input[type="password"], button[type="submit"] {
    font-size: 110%;
}

div.mb-3 {
    padding-bottom: 5%;
}
